@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --red: #C96868;
    --blue: #7EACB5;
    --yellow: #FADFA1;
    --text-dark: #333;
    --text-light: #777;
    --cream: #FFF4EA;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}